:root {
    --main-color: #39ACB4;
    --sec-color: #115e66;
}

section.title {
    margin-top: 74px;
}

section.title .titleheader h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
}

.linebreak {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    display: block;
    border-radius: 10px;
}

::selection {
    color: white;
    background: black;
}